
::selection {
  color: $white;
  background: $blue-200;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: 1;
  color: $body-text-color;
  background-color: $body-background-color;
  overflow-wrap: break-word;
}


.site-title {
  @include container;

  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $link-color;
  @include fs-6;

  @include mq(md) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
  }
}

